{% load static %}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    {% for item in breadcrumb %}
                        {% if forloop.last %}
                            <h2>{{ item.title }}</h2>
                        {% endif %}
                    {% endfor %}
                    <div class="breadcrumb__option">
                            {% for item in breadcrumb|slice:"-1" %}
                            {% if not forloop.last %}
                                <a href="{{ item.url }}">{{ item.title }}</a> <span style="color:#ffffff">—</span>
                            {% else%}
                                <a href="{{ item.url }}">{{ item.title }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->