{% extends 'base.html' %}

{% block content %}
<!--{% load static %}-->

<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="col-lg-12">
            <center><h3>Personal Data</h3></center>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                        <tr>
                            <th>Photo</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Passport</th>
                            <th>AVG Rating</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <img height="100px" width="100px" src="{{customer_details.photo.url}}" alt="">
                            </td>
                            <td>
                                {{customer_details.name}}
                            </td>
                            <td>
                                {{customer_details.address}}
                            </td>
                            <td>
                                {{customer_details.email}}
                            </td>
                            <td>
                                {{customer_details.phone}}
                            </td>
                            <td>
                                {{customer_details.passport.passport_series}}{{customer_details.passport.passport_number}}
                            </td>
                            <td>
                                {{customer_details.customer_avg_rating}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <center><h3>Products</h3></center>
                <hr>
            </div>
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                        <tr>
                            <th class="shoping__product">Products</th>
                            <th class="shoping__product">Price</th>
                            <th class="shoping__product">Quantity</th>
                            <th class="shoping__product">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in customer_details.products.all %}
                        <tr>
                            <td class="shoping__cart__item">
                                <img height="70px" width="70px" src="{{item.photo.url}}" alt="">
                                <h5>{{item.name}}</h5>
                            </td>
                            <td class="shoping__cart__price">
                                ${{item.price}}
                            </td>
                            <td class="shoping__cart__quantity">
                                <div class="quantity">
                                    {{item.product_count}}
                                </div>
                            </td>
                            <td class="shoping__cart__total">
                                ${{item.total}}
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="shoping__cart__total">Total</td>
                            <td class="shoping__cart__total">
                                ${{total_amount}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--            <div class="row">-->
        <!--                <div class="col-lg-12">-->
        <!--                    <div class="shoping__checkout">-->
        <!--                        <h5>Cart Total</h5>-->
        <!--                        <ul>-->
        <!--                            <li>Total <span>$454.98</span></li>-->
        <!--                        </ul>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <div class="row">

        </div>
        <div class="row">
            <div class="col-lg-12">
                <center><h3>Reviews</h3></center>
                <hr>
            </div>
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    {% include "form_add_review.html" %}
                    <table>
                        <thead>
                        <tr>
                            <th class="shoping__product">Title</th>
                            <th>Description</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in customer_details.customerreview_set.all|slice:"10" %}
                        <tr>
                            <td class="shoping__cart__price">
                                <h5>{{item.title}}</h5>
                            </td>
                            <td class="">
                                {{item.description}}
                            </td>
                            <td class="shoping__cart__quantity">
                                {{item.date}}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shoping Cart Section End -->
{% endblock %}